@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

body{
    font-family: 'Noto Serif TC';
    background: #FFFCE6;
}

ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
.rounded{
    border-radius: 15px;
}

// .line9,
// .line99,
// .line999 {
//     width: 35px;
//     height: 2px;
//     margin: 10px 8px;
//     background-color: #000;
//     border-radius: 50px;
//     transition: 0.2s;
// }
// .active .line1 {
//     transform: translate(0px, 15px) rotate(45deg);
// }

// .active .line2 {
//     transform: translate(0px, 15px) rotate(45deg);
//     opacity: 0;
// }

// .active .line3 {
//     transform: translate(0px, -15px) rotate(-45deg);
// }

// .zoom{
//     overflow: hidden;
//      .inner{
//        position:relative;
//        img,&.bg{
//          transition: transform .42s cubic-bezier(0.15, 0.46, 0.57, 1);
//        }
//        &::before {
//          content: "";
//          transition: opacity .42s cubic-bezier(0.15, 0.46, 0.57, 1);
//          opacity: 0;
//          height: 100%;
//          width: 100%;
//          position: absolute;
//          top: 0;
//          left: 0;
//          z-index: 1;
//          background-color: rgba(255,255,255,0.25);
//        }
//      }
//      &:hover .inner{
//        img,&.bg{
//           transform: scale(1.08, 1.08);
//        }
//        &::before{
//          opacity: 1;
//        }
//      }
//  }

 
//  .arrow{
//     display: inline-block;
//     width: 26px;
//     height: 17px;
//     position: relative;
//     top: 4px;
//     transition: all .2s cubic-bezier(0, 0.41, 0.58, 1);
//     transform: translateX(0);
//     opacity : 1;
//     &:before{
//         content: "";
//         width: 9px;
//         height: 9px;
//         border: 1px solid currentColor;
//         border-left: none;
//         border-bottom: none;
//         -moz-transform:rotate(45deg);
//         -webkit-transform:rotate(45deg);
//         -o-transform:rotate(45deg);
//         -ms-transform:rotate(45deg);
//         transform: rotate(45deg);
//         display: block;
//         position: absolute;
//         right: 9px;
//         bottom: 6px;
//       }
//     &:after{
//         content: "";
//         width: 12px;
//         height: 10px;
//         border-top: 1px solid currentColor;
//         display: block;
//         position: absolute;
//         right: 8px;
//         bottom: 1px; 
//     }
//   }

//  .arrow_wrap:hover .arrow{
//     transform: translateX(4px);
//     opacity : .75;
//  }
