html,
    body {
      position: relative;
      height: 100%;
    }

header{
    width: 100%;
    height: 84px;
    .container-fluid{
        padding-top: 6px;
    }
}

nav {
    display: flex;
    justify-content: space-between;

    >a {
        width: 26%;
    }
}
.nav_mid {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title {
    padding: 10px 29px;
}

.nav_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nopadding-x{
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}
.onsell_product{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
}
.onsell_content{
    margin-left: 35px;
    .onsell_text1{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }
    .onsell_text2{
        
    }
    .onsell_text3{
        
    }
}