.hothot{
    color: #000 !important;
}
.push_dis{
    display: flex;
    flex-wrap: wrap;
}
.push_product{
        padding: 20px;
        margin: 5px;
        flex-basis: calc(33.33% - 10px);
    
    img{
        width: 100%;
    }
}
.push_title{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 5px;
}
.price{
    margin: 26px 0px;
}
.shop_line{
    border: 4px solid #EB7474;
    border-radius: 4px;
}
// 以下為newproduct的line樣式
.shop_line2{
    border: 4px solid #4B9090;
    border-radius: 4px;
}