html,
    body {
      position: relative;
      height: 100%;
    }
.padding-x120{
    padding: 0 120px;
}
header{
    width: 100%;
    height: 84px;
    .container-fluid{
        padding-top: 6px;
    }
}
label,input{
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;

    >a {
        width: 26%;
    }
}
.nav_mid {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title {
    padding: 10px 29px;
    >a{
        text-decoration: none;
        color: #6B6966;
    }
}

.nav_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sw-did{
    .swiper {
        width: 100%;
        height: 600px;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.nopadding-x{
    padding: 70px 120px;
    display: flex;
    flex-wrap: wrap;
}
.onsell_product{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
}
.onsell_content{
    margin-left: 35px;
    
}
.onsell_text1{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
}
.onsell_text2{
    color: #6B6966;
    font-size: 16px;
    font-weight: 500;
}
.onsell_text3{
    color: #E94141;
    font-size: 20px;
    font-weight: 700;
}
.news{
    height: 84px;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 84px;
    text-align: center; 
}
.news_whole{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .news_card{
        width: 24%;
        height: 444px;
        background: #FFF;
        text-align: center;
        border-radius: 15px;
        img{
            width: 100%;
            border-bottom: 12px solid #4B9090;
            border-radius: 15px 15px 0 0;
        }
        .activity{
            padding-top: 52px;
            display: flex;
            justify-content: space-around;
            .actspan1{
                color: #000;
                font-size: 18px;
                font-weight: 600;
            }
        }
        .actspan2{
            text-align: left;
            padding: 32px 42px;
        }
    }
}
footer{
    height: 176px;
    background: #D9D9D9;
    text-align: center;
    line-height: 44px;
    margin-top: 80px;
    .footer_title{
        font-weight: 700;
        letter-spacing: 3.84px;
    }
    .footer_space{
        padding: 0 10px;
    }
    .use_line{
        border-left: 1px solid #000;
    }
}

@media(max-width: 1275px){
    .padding-x120 {
        padding: 0 ;
    }
    // 漢堡區
    label{
        font-size: 32px;
        display: block;
        position: absolute;
        top: 13px;
        right: 16px;
        cursor: pointer;
    }
    .nav_mid,.nav_right{
        display: none;
    }
    #burger:checked + ul{
        display: block;
        width: 50%;
        height: 183px;
        background: #fff497;
        z-index: 50;
        position: absolute;
        top: 84px;
        right: 0;
        text-align: center;
    }
    #burger:checked + ul + .nav_right{
        display: block;
        width: 50%;
        height: 102px;
        background: #fff497;
        z-index: 50;
        position: absolute;
        top: 265px;
        right: 0;
        text-align: center;
    }
    .rounded {
        border-radius: none;
    }
    .swiper {
        width: 100%;
        height: 514px;
    }
    .nopadding-x {
        padding: 0; 
        flex-direction: row;
        align-items: center;
    }
    .onsell_product {
        flex-direction: column;
    }
    .onsell_content {
        margin-left: 0;
        text-align: center;
        margin-top: 34px;
    }
    .news_whole {
        justify-content: space-evenly;
    }
    .ab_left {
        text-align: center;
        .bb{
            width: 80%;
        }
    }
}
@media(max-width: 800px){
    .nopadding-x {
        flex-direction: column;
    }
    .news_whole {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        .news_card {
        width: 45%;
        height: 545px;
        margin-top: 24px;
        }
    }
    .about_content {
        flex-direction: column;
        align-items: center;
        .ab_left {
            width: 100%;
        }
        .ab_right {
            width: 100%;
            margin-top: 20px;
            justify-content: center;
            padding: 0px 20px;
        }
    }
    
}
@media(max-width: 576px){
    .news_whole {
        flex-direction: column;
        align-items: center;
        
        .news_card {
        width: 80%;
        height: 545px;
        margin-top: 24px;
        }
    }
    footer {
        height: auto;
        line-height: 48px;

        & div:nth-child(2){
            display: flex;
            flex-direction: column;
        }
    }
}
@media(max-width: 400px){
    .push_dis{
        .push_product {
            padding: 20px;
            margin: 5px;
            flex-basis: calc(50% - 10px);
        }
    }
}