.hothot{
    color: #000 !important;
}
.push_dis{
    display: flex;
    flex-wrap: wrap;
}
.push_product{
        padding: 20px;
        margin: 5px;
        flex-basis: calc(33.33% - 10px);
    
    img{
        width: 100%;
    }
}
.push_title{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 5px;
}
.price{
    margin: 26px 0px;
}
.shop_line{
    border: 4px solid #EB7474;
    border-radius: 4px;
}
// 以下為newproduct的line樣式
.shop_line2{
    border: 4px solid #4B9090;
    border-radius: 4px;
}

//all.html的css
.container_news{
    display: flex;
    justify-content: center;
}
.newsall{
    height: 84px;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    margin: 0 20px;
}
.newsall2{
    >a{
        color: #6B6966; 
    }
    height: 84px;
    color: #6B6966;
    font-size: 22px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    margin: 0 20px;
}

// about.html的css
.about_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0;

    .ab_left{
        width: 50%;
        >img{
            width: 100%;
        }
    }
    .ab_right{
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0 90px;
        line-height: 32px;
    }
}
