@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");
html,
body {
  position: relative;
  height: 100%;
}

.padding-x120 {
  padding: 0 120px;
}

header {
  width: 100%;
  height: 84px;
}
header .container-fluid {
  padding-top: 6px;
}

label, input {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav > a {
  width: 26%;
}

.nav_mid {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  padding: 10px 29px;
}
.title > a {
  text-decoration: none;
  color: #6B6966;
}

.nav_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sw-did .swiper {
  width: 100%;
  height: 600px;
}
.sw-did .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sw-did .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nopadding-x {
  padding: 70px 120px;
  display: flex;
  flex-wrap: wrap;
}

.onsell_product {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
}

.onsell_content {
  margin-left: 35px;
}

.onsell_text1 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.onsell_text2 {
  color: #6B6966;
  font-size: 16px;
  font-weight: 500;
}

.onsell_text3 {
  color: #E94141;
  font-size: 20px;
  font-weight: 700;
}

.news {
  height: 84px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
}

.news_whole {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.news_whole .news_card {
  width: 24%;
  height: auto;
  background: #FFF;
  text-align: center;
  border-radius: 15px;
}
.news_whole .news_card img {
  width: 100%;
  border-bottom: 12px solid #4B9090;
  border-radius: 15px 15px 0 0;
}
.news_whole .news_card .activity {
  padding-top: 52px;
  display: flex;
  justify-content: space-around;
}
.news_whole .news_card .activity .actspan1 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.news_whole .news_card .actspan2 {
  text-align: left;
  padding: 32px 42px;
}

footer {
  height: 176px;
  background: #D9D9D9;
  text-align: center;
  line-height: 44px;
  margin-top: 80px;
}
footer .footer_title {
  font-weight: 700;
  letter-spacing: 3.84px;
}
footer .footer_space {
  padding: 0 10px;
}
footer .use_line {
  border-left: 1px solid #000;
}

@media (max-width: 1275px) {
  .padding-x120 {
    padding: 0;
  }
  label {
    font-size: 32px;
    display: block;
    position: absolute;
    top: 13px;
    right: 16px;
    cursor: pointer;
  }
  .nav_mid, .nav_right {
    display: none;
  }
  #burger:checked + ul {
    display: block;
    width: 50%;
    height: 183px;
    background: #fff497;
    z-index: 50;
    position: absolute;
    top: 84px;
    right: 0;
    text-align: center;
  }
  #burger:checked + ul + .nav_right {
    display: block;
    width: 50%;
    height: 102px;
    background: #fff497;
    z-index: 50;
    position: absolute;
    top: 265px;
    right: 0;
    text-align: center;
  }
  .rounded {
    border-radius: none;
  }
  .swiper {
    width: 100%;
    height: 514px;
  }
  .nopadding-x {
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
  .onsell_product {
    flex-direction: column;
  }
  .onsell_content {
    margin-left: 0;
    text-align: center;
    margin-top: 34px;
  }
  .news_whole {
    justify-content: space-evenly;
  }
  .ab_left {
    text-align: center;
  }
  .ab_left .bb {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .nopadding-x {
    flex-direction: column;
  }
  .news_whole {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .news_whole .news_card {
    width: 45%;
    height: 545px;
    margin-top: 24px;
  }
  .about_content {
    flex-direction: column;
    align-items: center;
  }
  .about_content .ab_left {
    width: 100%;
  }
  .about_content .ab_right {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    padding: 0px 20px;
  }
}
@media (max-width: 576px) {
  .sw-did .swiper {
    width: 100%;
    height: 330px;
  }
  .rounded {
    border-radius: 0 !important;
  }
  .news_whole {
    flex-direction: column;
    align-items: center;
  }
  .news_whole .news_card {
    width: 80%;
    height: 545px;
    margin-top: 24px;
  }
  footer {
    height: auto;
    line-height: 48px;
  }
  footer div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .push_dis .push_product {
    padding: 20px;
    margin: 5px;
    flex-basis: calc(50% - 10px);
  }
}
.hothot {
  color: #000 !important;
}

.push_dis {
  display: flex;
  flex-wrap: wrap;
}

.push_product {
  padding: 20px;
  margin: 5px;
  flex-basis: calc(33.33% - 10px);
}
.push_product img {
  width: 100%;
}

.push_title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 5px;
}

.price {
  margin: 26px 0px;
}

.shop_line {
  border: 4px solid #EB7474;
  border-radius: 4px;
}

.shop_line2 {
  border: 4px solid #4B9090;
  border-radius: 4px;
}

.container_news {
  display: flex;
  justify-content: center;
}

.newsall {
  height: 84px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  margin: 0 20px;
}

.newsall2 {
  height: 84px;
  color: #6B6966;
  font-size: 22px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  margin: 0 20px;
}
.newsall2 > a {
  color: #6B6966;
}

.about_content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
}

.ab_left {
  width: 50%;
}

.bb {
  width: 100%;
}

.ab_right {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 90px;
  line-height: 32px;
}

body {
  font-family: "Noto Serif TC";
  background: #FFFCE6;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.rounded {
  border-radius: 15px;
}

.log {
  color: #FFF;
  font-size: 26px;
  font-weight: 500;
  padding-top: 38px;
  padding-bottom: 42px;
}

.input_wrap {
  width: 793px;
  height: 507px;
  background: #9DB8A2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.input_group {
  width: 386px;
  height: 50px;
  background-color: #FFF;
  margin-bottom: 15px;
  position: relative;
  border-radius: 10px;
}
.input_group::before {
  content: "帳號";
  width: 36px;
  height: 25px;
  color: #9DB8A2;
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 14px;
  top: 10px;
}

.input_group2 {
  width: 386px;
  height: 50px;
  background-color: #FFF;
  margin-bottom: 15px;
  position: relative;
  border-radius: 10px;
}
.input_group2::before {
  content: "密碼";
  width: 36px;
  height: 25px;
  color: #9DB8A2;
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 14px;
  top: 12px;
}

input.form-control {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 13px 24px;
  padding-left: 66px;
}
input.form-control:focus {
  border-color: #5e8365;
  box-shadow: 0 0 0 3px #5e8365;
}

.forgot {
  width: 386px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  text-align: end;
  margin-top: -6px;
  padding-right: 10px;
  cursor: pointer;
}

.log_mid {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 18px 0;
}
.log_mid .log_mid_1 {
  height: 46px;
  width: 126px;
  color: #FFF;
  font-size: 26px;
  border: 1px solid #FFF;
  border-radius: 15px;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
}
.log_mid .log_mid_2 {
  height: 46px;
  width: 126px;
  color: #9DB8A2;
  background: #FFF;
  font-size: 26px;
  border: 1px solid #FFF;
  border-radius: 15px;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
}

.log_bottom {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}
.log_bottom .line_fast {
  width: 110px;
  border-top: 1px solid #FFF;
  margin: 12px 8px;
}
.log_bottom .text_fast {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

.icon_circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #FFF;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  margin: 0 5px;
}

@media (max-width: 800px) {
  .input_wrap {
    width: 500px;
  }
  .log_mid_1 {
    margin: 0 10px;
  }
  .log_mid_2 {
    margin: 0 10px;
  }
}
@media (max-width: 576px) {
  .input_wrap {
    width: 300px;
  }
  .input_group {
    width: 270px;
  }
  .input_group2 {
    width: 270px;
  }
  .forgot {
    padding-right: 66px;
  }
  .log_mid {
    width: 80%;
  }
  .log_mid .log_mid_1 {
    margin: 0 20px;
  }
  .log_mid .log_mid_2 {
    margin: 0 20px;
  }
  .log_bottom .line_fast {
    width: 84px;
  }
}
.sw-wrap {
  width: 50%;
  height: 430px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: flex;
  justify-content: space-evenly;
}

.sw-st1 {
  padding: 10px 0;
}

.pinmin {
  font-size: 16px;
  font-weight: 700;
  margin-top: 65px;
}

.pincon {
  color: #6B6966;
  font-size: 12px;
  font-weight: 500;
  margin-top: 30px;
}

.scon1 {
  font-size: 20px;
  font-weight: 500;
}

.scon2 {
  color: #6B6966;
  font-size: 12px;
  font-weight: 500;
  text-decoration: line-through;
}

.xiao {
  display: flex;
  justify-content: space-around;
  margin: 24px 0;
}

.xiaoz {
  display: flex;
  gap: 20px;
  align-items: center;
}

.souz {
  cursor: pointer;
}

.plusshop {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  width: 151px;
  height: 40px;
  border-radius: 10px;
  background: #9DB8A2;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.line_dot {
  border-bottom: 1px dashed #6B6966;
  margin: 36px 0;
}

.siang {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  width: 996px;
  height: 35px;
  border-bottom: 1px solid #C5C5C5;
  font-size: 14px;
  font-weight: 500;
}
.siang a {
  display: inline-block;
  width: 100%;
  height: 34px;
  color: #C5C5C5;
}

.lubian {
  width: 332px;
  border-bottom: 4px solid #9DB8A2;
  text-align: center;
}
.lubian a {
  display: inline-block;
  width: 100%;
  height: 34px;
  color: #9DB8A2;
}

.habian {
  width: 332px;
  text-align: center;
}

.smuw {
  margin-top: 34px;
  text-align: center;
}

.smuw-con {
  width: 50%;
  margin: 72px auto;
  color: #728976;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07px;
  text-align: start;
}

.biglu {
  width: 50%;
  height: 446px;
  background: #9DB8A2;
  display: flex;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
}

.bigsa {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.07px;
}

.bigma {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.07px;
  margin-left: 20px;
}

.biglulu {
  width: 50%;
  height: 446px;
  background: #9DB8A2;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0 62px;
}

.bigya {
  color: #FFF;
  font-size: 15px;
  font-weight: 300;
}

@media (max-width: 1275px) {
  .siang {
    width: 700px;
  }
  .biglu {
    width: 60%;
    height: 337px;
  }
  .bigsa {
    font-size: 12px;
  }
  .bigma {
    font-size: 12px;
  }
  .biglulu {
    height: 600px;
  }
}
@media (max-width: 800px) {
  .siang {
    width: 538px;
  }
  main {
    flex-direction: column;
  }
  .sw-wrap {
    width: 80%;
    margin: 0 auto;
  }
  .mama {
    margin: 0 auto;
  }
  .biglu {
    width: 80%;
    height: 337px;
  }
  .biglulu {
    width: 76%;
  }
  .smuw-con {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .siang {
    width: 360px;
  }
  .smuw > img {
    width: 70%;
  }
  .biglu {
    width: 100%;
    height: 512px;
    margin: 24px auto;
  }
  .bigsa {
    width: 20%;
    text-align: center;
  }
  .bigma {
    margin-top: 16px;
  }
  .biglulu {
    height: 850px;
  }
}
.bbb {
  margin-top: 30px;
}

.newnew {
  width: 80%;
  height: 66px;
  line-height: 66px;
  background: #4B9090;
  border-radius: 15px 15px 0px 0px;
  margin: 0 auto;
}

.new-text {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}

.new-whole {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background: #FFF;
  border-radius: 0px 0px 15px 15px;
  padding: 75px;
}

.new-left {
  width: 45%;
}
.new-left > img {
  width: 95%;
}

.beauty {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.boyo {
  margin-top: 40px;
  margin-left: 110px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.new-right {
  width: 45%;
  margin-top: 50px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.smallbut {
  width: 230px;
  height: 67px;
  border-radius: 15px;
  background: #4B9090;
  text-align: center;
  line-height: 67px;
  margin: 40px auto;
}
.smallbut > a {
  display: inline-block;
  width: 100%;
}

.back {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1275px) {
  .new-whole {
    flex-direction: column;
  }
  .new-left {
    width: 100%;
  }
  .new-left > img {
    width: 100%;
  }
  .boyo {
    margin-left: 0;
    text-align: center;
  }
  .new-right {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .new-whole {
    padding: 25px;
  }
}/*# sourceMappingURL=main.css.map */